{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytor</title>
    <link rel="stylesheet" href="{% static 'edytor.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script> -->
</head>
<body>
    <header>
        <h1>Edytor</h1>
        <input type="text" placeholder="Wyszukaj...">
        <span>
            <button id="czat">Czat</button>
            <button id="to-do">to-do</button>
            <button id="AI">AI</button>
        </span>
    </header>
    <div id="main-wrap">
        <div id="small-menu">
            <div id="small-menu-top">
                <img src="{% static 'img/folders.png' %}" onclick="showFolders(this)">
                <img src="{% static 'img/github.png' %}" onclick="showGit()">
            </div>
            <div id="small-menu-bottom">
                <img id='sett' src="{% static 'img/settings.png' %}">
                <img id='ava' src="{% static 'img/avatar.png' %}">
            </div>
        </div>
        <div class="menu" id="folders">
            <p> → plik 1</p>
            <p> → → plik 3</p>
            <p> → plik 2</p>
        </div>
        <div class="menu" id="github">
            <input type="text" placeholder="Link do repo..." id="repoUrl">
            <button id="git" onclick="loadRepoTree()">Wczytaj</button>
        </div>
        <div id="editor"></div>
        <div id="chatgpt">
            <div id="chat-messages" style="height: 90%; overflow-y: auto; color: white; padding: 10px;"></div>
                <div id="chat-input" style="padding: 10px;">
                    <input type="text" id="user-input" placeholder="Napisz coś..." style="width: 70%;">
                    <button onclick="sendChatMessage()">Wyślij</button>
        </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script>
    <script src="{% static 'edytor.js' %}"></script>
    <script src="{% static 'edytor-frontend.js' %}"></script>
</body>
</html>    