{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytor</title>
    <link rel="stylesheet" href="{% static 'edytor.css' %}">
    <link rel="stylesheet" href="{% static 'ai.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script> -->
</head>
<body>
    <header>
        <h1>Edytor</h1>
        <input type="text" placeholder="Wyszukaj...">
        <span>
            <button id="czat" data-panel="chatgpt">Czat</button>
            <button id="to-do" data-panel="small-todo">to-do</button>
            <button id="AI" data-panel="chat">AI</button>


        </span>
    </header>
    <div id="main-wrap">
        <div id="small-menu">
            <div id="small-menu-top">
                <img src="{% static 'img/folders.png' %}" onclick="showFolders(this)">
                <img src="{% static 'img/github.png' %}" onclick="showGit()">
            </div>
            <div id="small-menu-bottom">
                <img id='sett' src="{% static 'img/settings.png' %}">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <img id='ava' src="{% static 'img/avatar.png' %}">
                </a>
                {% else %}
                 <a href="{% url 'login' %}">
                    <img id='ava' src="{% static 'img/avatar.png' %}">
                 </a>
                {% endif %}
            </div>

        </div>
        <div class="menu" id="folders">
            <p>Wczytaj repo</p>
        </div>
        <div class="menu" id="github">
            <input type="text" placeholder="Link do repo..." id="repoUrl">
            <button id="git" onclick="cloneRepository()">Wczytaj</button>
            <hr>
            <input type="text" placeholder="Nazwa commitu..." id="commitMessage">
            <button id="commit" onclick="commitChanges()">Commit & Push</button>
            <button id="pull" onclick="pullChanges()">Pull</button>
        </div>
        <div id='editor-wrap'>
            <div id="tabs" class="tabs-bar"></div>
            <div id="editor"></div>
        </div>
        <div id="chatgpt">
            <div id="chat-messages" style="height: 90%; overflow-y: auto; color: white; padding: 10px;"></div>
                <div id="chat-input" style="padding: 10px;">
                    <input type="text" id="user-input" placeholder="Napisz coś..." style="width: 70%;">
                    <button onclick="sendChatMessage()">Wyślij</button>
                </div>
        </div>
        <div id="small-todo">

        </div>
        <div id="chat">

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script>
    <script>
        require.config({ paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs' }});
        require(['vs/editor/editor.main'], function () {
            window.editor = monaco.editor.create(document.getElementById('editor'), {
                value: `// Hello, Vink 👋\nconst message = 'Hello world;`,
                language: 'python',
                theme: 'vs-dark',
                automaticLayout: true,
            });
        
            // <<< Teraz tutaj! >>>
            window.editor.onDidChangeModelContent(() => {
                window.editorContentNow = window.editor.getValue();
                renderTabs();
            });
        
            startEditor(); // <--- I start aplikacji dopiero tutaj!
        });
    </script>
    <script src="{% static 'edytor.js' %}"></script>
    <script src="{% static 'edytor-frontend.js' %}"></script>
    
</body>
</html>    