*{
    margin: 0px;
    padding: 0px;
    color: white;
}
body{
    background-color: rgb(19, 19, 19);
    font-family: sans-serif;
}
header{
    width: 100vw;
    height: 5vh;
    text-align: center;
    border-bottom: 1px solid rgb(136, 136, 136);
}
#main-wrap{
    display: flex;
}
#menu{
    width: 15%;
    height: 90vh;
    border-right: 1px solid rgb(136, 136, 136);
}
#editor{
    width: 65%;
    height: 90vh;
}
#chatgpt{
    width: 20%;
    height: 90vh;
    border-left: 1px solid rgb(136, 136, 136);
}
footer{
    width: 100vw;
    height: 50px;
    border-top: 1px solid rgb(136, 136, 136);
}